{% extends 'layout.html' %}

{% block content %}

  <form action="/load-json-from-reddit" method="post">
    <input type="text" class="form-control" name="url" value="http://www.reddit.com/r/javascript/.json" placeholder="Укажите url">
    <br/>
    <button type="submit" class="btn btn-primary">Загрузить</button>
  </form>

  <br/>
  <hr>
  <h4>Способы обработки данных</h4>
  <hr>
  <br/>

  {% for way in ways %}
    <h4 style="font-style: italic;">{{ way.config.title }}</h4>
    <br>
    <form action="/transform-data?way={{ way.dirName }}" method="post">
      {{ way.html | safe }}

      <br>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    <hr>
  {% endfor %}

{% endblock %}
