{% extends 'layout.html' %}

{% block content %}

  <form action="/load-json-from-reddit" method="post">
    <input type="text" class="form-control" name="url" value="http://www.reddit.com/r/javascript/.json" placeholder="Укажите url">
    <br/>
    <button type="submit" class="btn btn-primary">Загрузить</button>
  </form>

  <br/>
  <hr>
  <h4>Способы обработки данных</h4>
  <hr>
  <br/>

  <b>Сортировка</b>
  <br>
  <form action="/transform-data-1" method="post">
    <label for="sorting_field" class="control-label">По полю</label>
    <select name="sorting_field" class="form-control" id="sorting_field">
      <option value="created">Created</option>
      <option value="score">Score</option>
    </select>

    <br>
    <label for="sorting_order_1" class="control-label">Порядок сортировки</label>
    <select name="sorting_order" class="form-control" id="sorting_order_1">
      <option value="asc">По возрастанию</option>
      <option value="desc">По убыванию</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>

  <hr>

  <b>Агрегация</b>
  <br>
  <form action="/transform-data-2" method="post">
    <label for="sorting_order_2" class="control-label">Сортировать по</label>
    <select name="sorting_order" class="form-control" id="sorting_order_2">
      <option value="asc">По возрастанию</option>
      <option value="desc">По убыванию</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>

  <br/>

{% endblock %}
